@import url('https://fonts.googleapis.com/css?family=Unkempt:400,700');
* {
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: #333;
    font-family: 'Unkempt', cursive;
    font-weight: 400;
    color: floralwhite;
    text-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    padding: 2em;
    font-size: 90%;
}
.outline {
    text-shadow:
        -1px -1px 0 rgba(90, 90, 90, 0.50),
        1px -1px 0 rgba(90, 90, 90, 0.50),
        -1px 1px 0 rgba(90, 90, 90, 0.50),
        1px 1px 0 rgba(90, 90, 90, 0.50),
        0 5px 25px rgba(0, 0, 0, 0.5);
}
#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin: auto;
}
#title, #poem {
    float: left;
}
#title {
    width: 100%;
    padding-bottom: 1em;
}
#poem {
    width: 100%;
    padding: 0 0 0 2em;
}
h1, h2, h3 {
    line-height: 1;
}
h1 {
    font-size: 4em;
    padding-bottom: 0.25em;
    border: dashed rgba(255, 255, 255, 0.50);
    border-width: 0 0 1px 0;
}
h2 {
    font-size: 1.8em;
    padding-top: 0.5em;
}
h3 {
    font-size: 3em;
}
p {
    font-size: 2.1em;
    line-height: 1.3;
    text-align: left;
}
b {
    font-size: 1.5em;
    color: #f1f1f1;
}
.red {
    color: red;
}
.pink {
    color: deeppink;
}
.yellow {
    color: gold;
}
.green {
    color: greenyellow;
}
.blue {
    color: deepskyblue;
}
.brown {
    color: peachpuff;
}
.orchid {
    color: orchid;
}
.aqua {
    color: aquamarine;
}
.gray {
    color: dimgray;
}
